#rodape-padrao {
    display: flex; 
    width: 100%;
    background-color: var( --cinza-escuro);
    color: var(--branco);
}

.grids {
    align-items: flex-start;
    margin: 4em 0 2em 0;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

#desc-digital {
    width: 70%;
}

.col_logo {
    height: 44px;
    width: 253px;
}

.col_subtitulo{
    font-size: 18px;
    margin-top: 0.8em;
}

.col_icons {
    display: flex;
    gap: 1.5em;
}

.col_texto {
    margin-top: 0.5em;
}

#col_subtitulo_first {
    margin-top: 1em;
}

.informations {
    margin-left: 12em;
}


a {
    text-decoration: none;
    color: white;
    margin-bottom: 0.5em;
}

#copyright {
    font-size: 13px;
    margin: 1.5rem;
}

